/* ROW CONTAINER */
.row {
    margin-left: 20px;
    color: #fff;
  }
  
  /* ROW TITLE */
  .row h1 {
    font-size: 1.6rem;
    font-weight: 600;
    margin-left: 10px;
    margin-bottom: 15px;
    padding-top: 30px;
  }
  
  /* POSTER CONTAINER (Horizontal Scrolling Strip) */
  .row_posters {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 5px;
    
  }
  .row_posters:hover{
    transition:ease;
  }
  /* Hide Scrollbar */
  .row_posters::-webkit-scrollbar {
    display: none !important;
  }
  
  /* MOVIE POSTER BASE STYLE */
  .row_poster {
    width: 100%;
    object-fit: contain;
    max-height: 100px;
    margin-right: 10px;
    border-radius: 4px;
    transition: transform o.3s ease;
  
  }
  
  /* Hover zoom effect */
  
  .row_poster:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.5);
  }
  
  
  /* LARGER POSTER FOR NETFLIX ORIGINALS */
  .row_posterLarge {
    max-height: 250px;
  }
  
  /* Larger hover effect for big posters */
  .row_posterLarge:hover {
    transform: scale(1.09);
  }
  
  /* Optional Smooth Fade-In Animation */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.98);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  .row_poster {
    animation: fadeIn 0.5s ease forwards;
  }
  