.banner {
    color: white;
    object-fit: contain;
    height: 450px;
    position: relative;
  }
  
  .banner_contents {
    margin-left: 30px;
    padding-top: 100px;
    /* height: 190px; */
  }
  
  .banner_title {
    font-size: 2rem;
    font-weight: 800;
    padding-bottom: 0.2rem;
  }
  
  .banner_button {
    cursor: pointer;
    color: #fff;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 0.2vw;
    padding: 0.5rem 2rem;
    margin-right: 2rem;
    background-color: rgba(223, 38, 38, 0.5);
  }
  .play {
    color: #000;
    background-color: #fff;
  }
  
  .banner_button:hover {
    color: #000;
    background-color: #e6e6e6;
    transition: all 0.2s;
  }
  
  .banner_description {
    width: 45rem;
    line-height: 1;
    padding: 1rem 0;
    font-size: 1rem;
    max-width: 360px;
    height: 80px;
    color: #fff;
  }
  
  .banner_fadeBottom {
    height: 40vh;
    background-image: linear-gradient(
      180deg,
      transparent,
      rgb(37, 37, 37, 0.91),
      #111
    );
  }
  